
$colors:
	("primaryLil":#9356DC,
	"secondaryPink":#FF79DA,
	"ternaryTurq":#99E2D0,
	"background":#F6F6F6
	"black":#101010,
	"greenFont":#008766,
	"grey1":#353535,
	"grey2":#EAEAEA,
	"tint4":#7E7E7E,
	)
;

$button-fill:linear-gradient(#ff79da,#9356dc);

$like-fill:linear-gradient( #9356dc,#ff79da);


$logo-font:Shrikhand;

$text-font:Roboto;

$mealfont:
color: #000;
text-overflow: ellipsis;
whitespace: nowrap;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;

$menucoursefont: 
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-transform: uppercase;


