





@media screen and (min-width:250px) {

  /******LOADER********/
  
.loader {
    display: flex;
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: animate 3s linear;
    z-index: -3;
  }
  
  .loader img {
    height: 250px;
    width: 250px;
    animation: spin 4s linear;
  }
  
  @keyframes animate {
    0% {
      z-index: 1;
      opacity: 1;
    }
  
    100% {
      z-index: 2;
      opacity: 0;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/**BOUTON Explorer****/

.primarybtn:hover {
opacity: 0.85;
 box-shadow: 
  0px 4px 25px 0px rgba(0, 0, 0, 0.5);

  z-index: 1;  /*sinon couvert par loader*/

}




/************ANIMATION COEUR***********/

.heart{
    position: relative;
    padding: 0;
    /*border: solid 1px aquamarine;*/
  
  }


  
  /*coeur rempli*/


  .heart .filled {
    opacity:0;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s ease-in-out ; 
    width: 22px;
    height: 21px;
    object-fit:scale-down;
  }

  .section_title > .heart .filled {
   
    top: 3px;

  }



  
  /*coeur vide*/
  .heart_icon {
    width: 22px;
    height: 21px;
  }
  
  .heart:hover .filled {
    opacity: 1;
    width: 22px;
    height: 21px;
  
  }
  
  .heart:hover .heart_icon {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  





/***************************CARTES MENU****************************/

/*SELECTEUR DE PLATS*/


.menu_card_container{
    position:relative;
    /*border: dotted 2px blue;*/
    display: flex;
    flex-direction: column;
    

}


.plt{
    /*border: solid 2px red;*/
    pointer-events: none;     /*pour que l'eefet hover s'applique à l'intégralité de la carte*/
}



.under{
    
    background-color: aquamarine;
    opacity: 0.5; 
    height: 100%;
    width:100%;
    display: inline;
    position: absolute;
    pointer-events: none;
    

}

.mc{

    padding: 15px;    
    border-radius: 25px;
    position: absolute;
    
    
}



.menu_card:hover {
  width: 75%;
  border-radius: 25px 0 0 25px;
  
}


/************************************Apparence des menus*************************************/


  .menu {
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }


 .menu .entrees{

    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }

  .plats{
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }

  .desserts{
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
  }

  .commander{
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 3s;
    animation-fill-mode: backwards;

  }
   
    
@keyframes animate-fade {
  0% { opacity: 0; }
  50%{opacity: 0.5;}
  100% { opacity: 1; }
}


}

/*VERSION TABLETTE*/

@media screen and (min-width:768px){
  .menu_card:hover{
    width:80%;
  }
}

/*VERSION PC*/

@media screen and (min-width:1025px)  {


  .menu_card:hover {
    width: 85%;
    border-radius: 25px 0 0 25px;
    
}


}




