

/******LOADER********/

/*
<div class="loader">
<img src="assets/images/plate-and-fork-icon-19.jpg" alt="" />
</div>
<!--<div class="loader"><img src="assets/images/plate-and-fork-icon-19.jpg" alt=""></div>-->
<!--en-tête-->



*/



.loader {
    display: flex;
    align-items: center;
    background: #fff;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: animate 3s linear;
    z-index: -3;
  }
  
  .loader img {
    height: 250px;
    width: 250px;
    animation: spin 4s linear;
  }
  
  @keyframes animate {
    0% {
      z-index: 1;
      opacity: 1;
    }
  
    100% {
      z-index: 2;
      opacity: 0;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/**BOUTON Explorer****/

.primarybtn:hover {
  background-image: linear-gradient(#fdb5e9, #b286e7);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.45);
  z-index: 1;  /*sinon couvert par loader*/

}





/************ANIMATION COEUR*/

.heart{
    position: relative;
    padding: 0;
  
  }
  
  /*coeur rempli*/
  .filled {
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 1s ease-in-out; 
    width: 22px;
    height: 21px;
  
    object-fit:scale-down;
  
  }
  
  /*coeur vide*/
  .heart_icon {
    width: 22px;
    height: 21px;
    
  }
  
  .heart:hover .filled {
    opacity: 1;
    width: 22px;
    height: 21px;
  
  }
  
  .heart:hover .heart_icon {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  
  
  }
  
  /*@keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }*/
  


/*Coche menu*/


  .label {
    width:50px;
    height:25px;
    position: relative;
    display: block;
    bottom:15px;
    right: 25px;;
    background:linear-gradient(#fdb5e9, #b286e7) ;
    border-radius: 200px;
    
    cursor: pointer;
  }
  /*bille ç l'intérieur de la coche*/
  .label:after {
    content: "";
    width:18px;
    height: 18px;
    position: absolute;
    top:3px;
    right:5px;
    background: #99E2D0;
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }

/*checkbox invisible qui permet de déterminer si la coche à été cliquée*/
  .input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  /*au clic, la couleur de l'intérieur de la couche change*/
  .input:checked + .label {
    background: linear-gradient(#ff79da, rgb(147, 86, 220));
  }

  /*au clic, la bille se déplace de droite à gauche*/
  .input:checked + .label:after {
    transform: translateX(-21px);
  }

  .label, .label:after{
    transition:500ms
  }

/*Apparence des menus*/

/*
  .menu {
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }


 .menu .entrees{

    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
  }

  .plats{
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 2s;
    animation-fill-mode: backwards;
  }

  .desserts{
    animation-duration: 0.75s;
    animation-name: animate-fade;
    animation-delay: 2.5s;
    animation-fill-mode: backwards;
  }
   
    
@keyframes animate-fade {
  0% { opacity: 0; }
  50%{opacity: 0.5;}
  100% { opacity: 1; }
}

*/
