/************BODY***************/

main {
    background-color: #f6f6f6;
  }
  
  .location {
    display: flex;
    padding-left: 14ex;
    padding-right: 5ex;
    justify-content: center;
    background-color: #eaeaea;
    gap: 17px;
    height: 50px;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
  }
  
  .location_search::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    opacity: 1;
    line-height: normal;
  }
  
  .location_search {
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 50px 20px;
  }
  
  .cta h1 {
    text-align: center;
  }
  

  .primarybtn {
    width: 186px;
    height: 50px;
    padding: 13px 16px;
    border: none;
    background-image: linear-gradient(#ff79da, rgb(147, 86, 220));
    border-radius: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    
  }
  
  
  
  .section_title {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
  }
  
  .cta_texte {
    color: #353535;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
  }
  
  
  .fonctionnement {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 32px;
  }
  
  .fonctionnement-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fonctionnement_circle {
    position: absolute;
    left: -12px;
    border-radius: 50%;
    background: #9356dc;
    height: 24px;
    width: 24px;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 14px;
  }
  
  .fonctionnement p {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    width: 322.486px;
    height: 72.379px;
    flex-shrink: 0;
    position: relative;
  }
  
  .restaurants {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .restaurant_card_container {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .restaurants a {
    height: 23%;
    border-radius: 15px;
    text-decoration: none;
    position: relative;
  }
  
  .restaurant_card {
    display: flex;
    flex-direction: column;
    height: 251px;
    padding-top: 0;
  }
  
  .card_img{
    border-radius: 15px 15px 0 0;
  }
  
  .restaurant_card img {
    height: 70%;
    
    object-fit: cover;
  }
  
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99e2d0;
    color: #008766;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80px;
    height: 29px;
    flex-shrink: 0;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    top: 15px;
    right: 15px;
  }
  
  .card_text_container {
    display: flex;
    background-color: #fff;
    height: 30%;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    border-radius: 0 0 15px 15px;
  }
  
  .card_text {
    line-height: 0.3em;
  }

  @media screen and (min-width:1025px) {
    .cta{
      padding-top: 70px;;
    }
    
  }